*.swp
*.pyc

Makefile
Makefile.in
INSTALL
autom4te.cache
autoregen.sh
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
depcomp
.deps

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

data/phoenix/*.service
data/phoenix/uninstalled

src/phoenix-authenticator
src/phoenix-echo-call
src/phoenix
src/phoenix-test
*.o
